# Data science tools and ecosystem

### Some of the popular languages that Data Scientists use are:
1.  
2.
2.

### Some of the commonly used libraries used by Data Scientists include:
1. 
2. 
3.

# Data Science Tools
|1|2|3|
|--|--|--|

# introducing arithmetic expression
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic
(3*4)+5

17

In [6]:
# this will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

**Objectives**
- Python
- R 
- SQL

## Author
Robi